<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head.ejs") %>

<body>

    <h1 class="edit">Edit page for...<br> Artist:"<%= media.artist %>" <br>-<br> Album: "<%= media.album.name %>"</h1>
    
    <div class="navigation">

        <a href="/owned">Owned Albums</a>
        <a href="/wanted">Wanted Albums</a>
        <a href="/">Home</a>
       
    </div>



    <form action="/owned/<%= media._id %>?_method=PUT" method="POST" class="edit-cta-container">

        <p class="edit-cta-container" id="ownership">Do you own this Album?: <input type="checkbox" name="media.album.owned" <%= media.album.owned ? 'checked': '' %>></p><br>

        <p class="medium-confirmation">Medium owned:</p>

        <div class="medium">
            <p class="medium-checkbox">CD:<input type="checkbox" name="media.album.medium.cd" <%= media.album.medium.cd ? 'checked': '' %>></p>
            <p class="medium-checkbox">Vinyl:<input type="checkbox" name="media.album.medium.vinyl" <%= media.album.medium.vinyl ? 'checked': '' %>></p>
            <p class="medium-checkbox">Cassette:<input type="checkbox" name="media.album.medium.cassette" <%= media.album.medium.cassette ? 'checked': '' %>></p>
        </div>
        
        <input type="submit" value="Update your Collection" class="cta-submit">
    </form>
    
    
</body>
</html>