<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head.ejs") %>

<body>
    <h1>This is the index page for Owned Media</h1>

    <div>
        <% const randomIndex = Math.floor(Math.random() * medias.length) %>
        <a href="/owned/<%= medias[randomIndex]._id %>">Random Owned Album</a>
        <a href="/owned/new">Add a newly acquired album</a>
        <a href="/wanted/new">Add a wanted album</a>
        <a href="/wanted">Go to Wanted Albums</a>
        <a href="/home">Return Home</a>
       
    </div>

    <ul>
        <% for(let i = 0; i < medias.length; i++) { %>
            <li>
                <a href="/owned/<%= medias[i]._id %>">
                    <img src="<%= medias[i].album.img %>" alt=
                    "<%= medias[i].artist %> - <%= medias[i].album.name %>">
                </a>
            </li>
        <% } %>
    </ul>


</body>
</html>