<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head.ejs") %>

<body>
    <h1 class="index">This is your index page for Owned Media</h1>

    <div class="navigation">
        <% const randomIndex = Math.floor(Math.random() * medias.length) %>
        <a href="/owned/<%= medias[randomIndex]._id %>">Random Owned Album</a>
        <a href="/owned/new">Make a New Owned Album</a>
        <a href="/wanted/new">Make a New Wanted Album</a>
        <a href="/wanted">Your Wanted Albums</a>
        <a href="/">Home</a>
       
    </div>

        <div class="album-container">
            <% for(let i = 0; i < medias.length; i++) { %>
                <li>
                    <a href="/owned/<%= medias[i]._id %>" class="index-album-image">
                        <img src="<%= medias[i].album.img %>" alt=
                        "<%= medias[i].artist %> - <%= medias[i].album.name %>">
                    </a>
                </li>
            <% } %>
    </div>

</body>
</html>