<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head.ejs") %>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is the index page for Owned Media</h1>

    <ul>
        <% for(let i = 0; i < medias.length; i++) { %>
            <li>
                <a href="/owned/<%= medias[i]._id %>">
                    <img src="<%= medias[i].album.img %>" alt="<%= medias[i].artist %> - <%= medias[i].album.name %>">
                </a>
            </li>
        <% } %>
    </ul>
</body>
</html>