<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head.ejs") %>

<body>
    <%- include("../partials/nav.ejs") %>

    <h1>Edit page for... "<%= media.artist %> - <%= media.album.name %>" </h1>
    <h2>This is currently under your Wanted Collection. Has anything changed?</h2>

    <h3>Instructions...</3>
    <ul>Note: Checkbox means - "Yes, I own it" <span>&#10003;</span></ul>


    <form action="/owned/<%= media._id %>/?_method=PUT" method="post">

        Owned(Click box for yes): <input type="checkbox" name="media.album.owned" <%= media.album.owned ? 'checked': '' %>><br>
       
        CD(Click box for yes): <input type="checkbox" name="media.album.medium.cd" <%= media.album.medium.cd ? 'checked': '' %>><br>
        
        Vinyl(Click box for yes): <input type="checkbox" name="media.album.medium.vinyl" <%= media.album.medium.vinyl ? 'checked': '' %>><br>
        
        Cassette(Click box for yes): <input type="checkbox" name="media.album.medium.cassette" <%= media.album.medium.cassette ? 'checked': '' %>><br>
    
        <input type="submit" value="Update your Collection">
    </form>
</body>
</html>