<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head.ejs") %>

<body>
    <h1>This is the index page for Wanted Media</h1>

    <ul>
        <% for(let i = 0; i < medias.length; i++) { %>
            <li>
                <a href="/wanted/<%= medias[i]._id %>">
                    <img src="<%= medias[i].album.img %>" alt=
                    "<%= medias[i].artist %> - <%= medias[i].album.name %>">
                </a>
            </li>
        <% } %>
    </ul>
</body>
</html>