<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head.ejs") %>

<body>

    <h1 class="show">Album: "<%= media.album.name %>"<br> 
        By: "<%= media.artist %>"<br></h1>

        <div class="navigation">
            <a href="/wanted/edit/<%= media._id %>">Update <%= media.album.name %></a>
            <a href="/owned">Owned Albums</a>
            <a href="/owned/new">Make a New Owned Album</a>
            <a href="/wanted">Wanted Albums</a>
            <a href="/wanted/new">Make a New Wanted Album</a>
            <a href="/">Home</a>
        </div>

        <div class="about-album">
            

                <img src="<%= media.album.img %>" class="show-album-image" id="albumImage">

            

                <ul class="show-album-information">
                    <li>Released: <%= media.album.releaseDate %></li>
                    <li>Record Label: <%= media.album.recordLabel %></li>
                    <li>Genre: <%= media.album.genre %></li>
                    <li>Duration: <%= media.album.duration %> minutes</li>
                    <li>Your Rating (1-5): <%= media.album.rating %></li>
                    <li>Language: <%= media.album.language %></li>
                    <li>Country of Origin: <%= media.countryOrigin %></li>

                    <li>Status: <%= media.album.owned ? "Up on the Shelves" : "On the wanted list" %></li>
                </ul>
        </div>
    
    <form action="/wanted/<%= media._id %>?_method=DELETE" method="POST">
        <button>DELETE</button>
    

</body>
</html>